.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3.2rem;
}

.projectImage {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1.6rem;
  width: 100%;
  aspect-ratio: 16 / 9;
  background: var(--background-light);
  cursor: pointer;
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
  transition: transform 0.25s ease;

  img {
    width: 85%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 20%;
    transition: 0.25s all;
    border-radius: 0.4rem;

    &:hover {
      transform: scale(1.05) rotate(2deg);
    }
  }
}

.projectCopy {
  margin: 1.6rem 0;
}

.projectTitle {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  h4 {
    font-weight: bold;
    font-size: var(--text-md);
    flex-shrink: 0;

    max-width: calc(100% - 150px);
  }

  a {
    opacity: 0.75;
    transition: 0.25s opacity;
  }

  a:hover {
    opacity: 1;
  }
}

.projectTitleLine {
  width: 100%;
  height: 1px;
  background: var(--text);
  opacity: 0.3;
}

.projectDescription {
  font-weight: 200;

  span {
    display: inline-block;

    font-size: var(--text-xs);
    font-weight: 400;
    color: var(--brand);

    cursor: pointer;
  }

  span:hover {
    text-decoration: underline;
  }
}

.projectTech {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;

  font-size: var(--text-xs);
  color: var(--brand);

  margin: 0.8rem 0;
}

@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
    width: 90vw;
    margin: auto;
  }

  .projectImage {
    aspect-ratio: auto;

    img {
      translate: 8% 20%;
      position: relative;
      left: 0;
      transform: none;
      bottom: 0;
    }
  }
}
