.intro {
  margin-bottom: 9.6rem;
}

.copyWrapper {
  position: relative;
  z-index: 10;

  width: fit-content;
  margin: 4.8rem 0;
}

.title {
  font-size: var(--text-2xl);
  font-weight: 900;
  line-height: 1.1;

  span {
    color: var(--brand);
  }

  @media (max-width: 768px) {
    font-size: var(--text-xl);
  }
}

.subTitle {
  font-size: var(--text-lg);
  line-height: 1.1;
  margin-top: 1.6rem;
  font-weight: 200;

  span {
    font-weight: bold;
    color: var(--brand);
  }
}

.aboutCopy {
  margin: 2.4rem 0;
  max-width: 700px;
  font-weight: 200;
}

.contactSVG {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 10px;
  display: inline;
  transform: rotate(50deg);
}

.typing {
  height: 35px;
  white-space: nowrap;
  font-family: 'Source Code Pro', monospace;
  position: relative;
  animation: animated-text 2s steps(36, end) 2s 1 normal both;

  @media screen and (max-width: 767px) {
    margin: auto;
  }
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 570px;
  }
}

@media (max-width: 768px) {
  .intro {
    margin-bottom: 4.8rem;
  }

  .copyWrapper {
    margin: 2.4rem 0;
    width: auto;
  }

  .title {
    font-size: var(--text-xl);
  }

  .subTitle {
    font-size: var(--text-md);
    margin-top: 1rem;
  }

  .aboutCopy {
    max-width: 100%;
    font-size: var(--text-sm);
  }

  .typing {
    margin: auto;
    width: 100%;
  }

  .dotGrid {
    display: none;
  }
}
